<form>
  
  <div class="form-group">
    <label for="countries">Country</label>
    <select class="form-control" id="countries">
      <option value="all">All</option>
      <% @countries.each do |country| %>
        <option value= <%= country %> ><%= country %></option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <label for="device">Device</label>
    <select class="form-control" id="device">
      <option value="all">All</option>
      <% @device.each do |device| %>
        <option value= <%= device.id %> ><%= device.description %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>

<div>
  <ul class="list-group">
  <% @users.each do |user| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= user.first_name + " " + user.last_name %>
    <span class="badge badge-primary badge-pill"><%=user.bug_ids.count%></span>
    </li>
  <% end %>
  </ul>
<div>